<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <title>Rajat Gautam</title>
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark container-fluid">
  <a class="navbar-brand" href="/" style="text-decoration: none;">Rajat Gautam</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="text-decoration: none;">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="text-decoration: none;">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact" style="text-decoration: none;">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile" style="text-decoration: none;">Profile</a>
      </li>
       <li class="nav-item">
        <a class="btn btn-outline-primary " href="/logout" role="button" style="text-decoration: none;">Logout</a>
      </li>
      
    </ul>



  
  </div>
</nav>
    <h1 class="container">Hello {{data.nickname}}</h1>
    

<table class="table container">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td >{{data.nickname}}</td>
    
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td>{{data.email}}</td>
     
    </tr>
    <tr>
      <th scope="row">Email Verified</th>
      <td>{{data.email_verified}}</td>
   
    </tr>
  
  </tbody>
</table>
</table>
</body>
</html>